@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root{
    --main-color: blue;
    --base-color: white;
    --accent-color: orange;
    --main-text-color: black;
    --sub-text-color: gray;
}

body{
    width: 100%;
    margin: 0;
}

#question_meaning{
    color: var(--main-text-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-size: 50px;
    margin-top: 200px;
    text-align: center;
}

#question_word{
    color: var(--main-text-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-size: 50px;
    text-align: center;
}

.you{
    line-height: 0;
    color: var(--sub-text-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    text-align: center;
}

#your_answer{
    color: var(--sub-text-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    text-align: center;
}

div{
    text-align: center;
    ;
}

input[type="text"]{
    border-radius: 0%;
    margin: 5px;
    width: 300px;
    height: 40px;
    color: var(--sub-text-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border: 2px solid var(--main-text-color);
    text-align: center;
}

input[type="button"]#submit{
    margin: 5px;
    width: 309px;
    height: 40px;
    color: var(--base-color);
    background-color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    cursor: pointer;
}

input[type="button"]#show, [type="button"]#next{
    margin: 2.5px;
    width: 150px;
    height: 40px;
    color: var(--base-color);
    background-color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    cursor: pointer;
}